<%= "this" %>
<% if david %>
  Hej hej hej hej hej hej hej hej hej hej hej hej hej hej hej hej
  what?
<% elsif that %>
  <h1>This</h1>
  <div class="what">
    <p class="this">
      <component
        :vue-attribute="<%= string %>"
        :other-attribute="false"
        this="5"
      >
        This looks amazing
      </component>
    </p>
  </div>
<% else %>
  Cool!
<% end %>
