<div class="card">
  <card-header
    v-b-modal.purchase_modal
    :title="<%= t(".title") %>"
    boolean
    :value="['a', 'b']"
    :long-variable-name="data.item.javascript.code"
  >
  </card-header>

  <card-body :content="<%= @content %>" @click="doThis">
    <template #button-content>
      Hello
    </template>
  </card-body>
</div>
